{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content%}

<!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=dcUUbGb77tY&ab_channel=SmallAnt" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <br> <br>
            <h3>About Daniella</h3>
            <p>This server has been created as part of the BIO727P Bioinformatics Software Development Group Project
              in Term 2 of the 2021/22 MSc Bioinformatics intake year. <br> <br>
              It's purpose is to retrieve SNP information for specific genomic regions of interest across
              different populations.</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-dna"></i></div>
              <h4 class="title"><a href="">Population-specific SNP information</a></h4>
              <p class="description">This includes; name, genomic position, genotype and allele frequencies. </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Customizable summary statistics</a></h4>
              <p class="description">Including measures of genetic and haplotype diversity, tests against
              neutrality and population genetic variation.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-user"></i></div>
              <h4 class="title"><a href="">Graphical display</a></h4>
              <p class="description">SNP distribution is plotted in sliding windows across the genomic area
              of interest for ease of interpretation.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock %}
