{% extends "base.html" %}
{% block title %}Pop. Genome{% endblock %}
{% block content %}

<!-- ======= Web Server Section ======= -->
<section id="server" class="server section-bg">
    <div class="section-title">
    <br> <br> <br>
        <h2>Genomics Server</h2>
    </div>
    <div class="container">
        <div style="margin: 0 auto; max-width: 720px;">
            <form method="POST" action="" enctype="multipart/form-data">
            <div class="text-center"><p>Please specify a query from the options listed below.</p></div>

                <!-- Genomic Coordinate - Chromosome start/end   -->
                <div class="mb-3 d-flex flex-row flex-wrap">

                    <div class="col px-4 py-2">
                        <label class="form-label" for="chromosomes"><strong>Chromosome</strong></label>
                        <select class="form-select w-auto" id="chromosomes" name="chr">
                            <!-- Add options here equal to chromosomes uploaded
                            <option value="" selected>--</option> Uncomment this line with >1 chromosome-->
                            <option value="22" selected>22</option>

                        </select>
                    </div>

                    <div class="col px-4 py-2">
                        <label class="form-label" for="chrstart"><strong>Start Position</strong></label>
                        <input class="form-control w-auto" type="text" id="chrstart" name="chrstart" size="12" placeholder="e.g. 10510061">
                    </div>

                    <div class="col px-4 py-2">
                        <label class="form-label" for="chrend"><strong>End Position</strong></label>
                        <input class="form-control w-auto" type="text" id="chrend" name="chrend" size="12" placeholder="e.g. 50808378">
                    </div>

                </div>

                <div class="mb-3 d-flex flex-row flex-wrap">
                    <div class="col px-4 py-2">
                        <!-- SNP name (rs value)   -->
                        <label class="form-label" for="snpname"><strong>SNP Name</strong></label>
                        <input class="form-control w-auto" type="text" id="snpname" name="snpname" size="20" placeholder="e.g. rs891782249">
                    </div>

                    <div class="col px-4 py-2">
                        <!-- Gene name (+ any associated aliases)   -->
                        <label class="form-label" for="genename"><strong>Gene Name</strong></label>
                        <input class="form-control w-auto" type="text" id="genename" name="genename" size="20" placeholder="e.g. BCRP3">
                    </div>
                </div><br>

                <!-- Select Summary Stats   -->
                <div class="mb-3">
                    <strong>Summary Statistics</strong>
                    <div class="form-check ms-4 py-2">
                        <input class="form-check-input" type="checkbox" id="all_stats" onclick="toggle_checks(this, '#stat_checks');" checked/>
                        <label class="form-check-label" for="all_stats">Select all</label>
                    </div>
                    <div class="d-flex flex-row flex-wrap" id="stat_checks">
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="seq_div" id="seq_div" checked/>
                            <label class="form-check-label" for="seq_div">Sequence diversity</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="taj_d" id="taj_d" checked/>
                            <label class="form-check-label" for="taj_d">Tajima's D</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="hap_div" id="hap_div" checked/>
                            <label class="form-check-label" for="hap_div">Haplotype diversity</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="fst" id="fst" checked/>
                            <label class="form-check-label" for="fst">Fst</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="daf" id="daf" checked/>
                            <label class="form-check-label" for="daf">Derived allele</label>
                        </div>
                    </div>
                </div>

                <!-- Select Populations   -->
                <div class="mb-3">
                    <strong>Populations of Interest</strong>
                    <div class="form-check ms-4 py-2">
                        <input class="form-check-input" type="checkbox" id="all_pops" onclick="toggle_checks(this, '#pop_checks');" checked/>
                        <label class="form-check-label" for="all_pops">Select all</label>
                    </div>
                    <div class="d-flex flex-row flex-wrap" id="pop_checks">
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="AFR" id="AFR" checked/>
                            <label class="form-check-label" for="AFR">African</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="AMR" id="AMR" checked/>
                            <label class="form-check-label" for="AMR">Ad. Mixed American</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="EAS" id="EAS" checked/>
                            <label class="form-check-label" for="EAS">East Asian</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="EUR" id="EUR" checked/>
                            <label class="form-check-label" for="EUR">European</label>
                        </div>
                        <div class="form-check ms-4 py-2 col-5 col-sm-5 col-md-3">
                            <input class="form-check-input" type="checkbox" name="SAS" id="SAS" checked/>
                            <label class="form-check-label" for="SAS">South Asian</label>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                <br><p>Please enter an email and query identifier to be notified when query is complete.</p></div>

                <!-- Email Address   -->
                <div class="mb-4 d-flex flex-row flex-wrap">
                    <div class="col ms-4 py-2">
                        <label class="form-label" for="email_add"><strong>Email Address</strong></label>
                        <input class="form-control" type="text" id="email_add" name="email_add" size="30" placeholder="e.g. user@email.com">
                    </div>

                    <!-- Unique Identifier   -->
                    <div class="col ms-4 py-2">
                        <label class="form-label" for="unique_id"><strong>Query Identifier</strong></label>
                        <input class="form-control" type="text" id="unique_id" name="unique_id" size="30" placeholder="e.g. query_01_01_2022">
                    </div>
                </div>

                <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button></div>
            </form>
        </div>
    </div>

    <!-- Show prior results if logged in -->
    {% if session['logged_in'] == True %}
      <div class="section-title">
          <br> <br> <br>
        <h2>Prior Results</h2>
      </div>
        <ul>
        {% for file in files %}
            <div class="container">
                <div class="text-center">
                    <a href="{{ url_for('web_server.uploads', filename=file) }}">{{file}}</a>
                </div>
            </div>
        {% endfor %}
        </ul>

    {% else %}
        <div class="container">
             <br>
            <div class="text-center">
                <p>Please register/ login to store results. </p>
            </div>
        </div>

    {% endif %}


</section><!-- End Server Section -->

<!-- Controlling check-box select-all boxes -->
<script>

function toggle_checks(source, id) {
    for (check of document.querySelectorAll(id+" input[type='checkbox']")) {
        check.checked = source.checked;
    }
}

</script>


{% endblock %}